@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin:0;
    padding:0;
}

body{
    text-align:left;
    font-family: 'Roboto', sans-serif;
    background-image:url("assets/bkg.jpg");
    
}

.container{
    
    
}


#header{
    
    width:100%;
    border:1px solid black;
    box-shadow: 5px 5px 3px;
    padding:10px;
    background-image:url("assets/top.jpg");
}

.headertext{
    width:100%;
    font-size:30px;
    color:white;
    text-shadow: 2px 2px 2px #000000;
}

#formandtext{

margin-right:auto;
margin-left:auto;
width:60%;
}

.form{
    font-weight:bold;
    
}

#textarea{
    
    margin-top:10px;
    

}

textarea {
    resize: none;
  }

#gomb{
    margin:10px 0px;
    border-radius: 4px;
    font-size: 30px;
    padding:8px;
    background-color: #f44336;
}

#gomb:hover{
    margin:10px 0px;
    border-radius: 4px;
    font-size: 30px;
    padding:8px;
    background-color: #e9958f;
}

#title{
    margin-top:10px;
    margin-bottom:30px;
}

h3{
    padding:20px 10px;
}

h2{
    padding-bottom:10px;
}


#firstpost{
    border:1px solid black;
    padding:12px;
    margin-bottom:20px;
    background-color:white;
    border-radius:10px;
}

#secondpost{
    border:1px solid black;
    padding:12px;
    margin-bottom:20px;
    background-color:white;
    border-radius:10px;
}