@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
  margin:0;
  padding:0;
}


.main{
  font-family: 'Lato', sans-serif;
  display:flex;
  justify-content: center;
  align-items: center;
}

.card{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  height:150px;
  width:90vw;
  border:1px solid black;
  padding:10px;
  box-shadow: 5px 5px 5px;
  border-radius: 10px;
}

.left{
  margin-left:5vw;
}

.right{

  margin-right:5vw;
}

table{
  border-spacing:20px;
}

.icon{
  width: 150px;
  height: 150px;
}

